[Unit]
Description=Bruderwo (Laravel Octane)
After=network.target

[Service]
User=admin
Group=admin
WorkingDirectory=/var/www/bruderwo
ExecStart=/usr/local/bin/php artisan octane:start --server=frankenphp --host=0.0.0.0 --port=8001 --max-requests=500
ExecReload=/bin/kill -USR1 $MAINPID
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
